@import url(//db.onlinewebfonts.com/c/4a633a8efda614b0de398f042be3a396?family=Posterama1927W01-Black);
* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Posterama1927W01-Black";
  src: url("//db.onlinewebfonts.com/t/4a633a8efda614b0de398f042be3a396.eot");
  src: url("//db.onlinewebfonts.com/t/4a633a8efda614b0de398f042be3a396.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/4a633a8efda614b0de398f042be3a396.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/4a633a8efda614b0de398f042be3a396.woff") format("woff"), url("//db.onlinewebfonts.com/t/4a633a8efda614b0de398f042be3a396.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/4a633a8efda614b0de398f042be3a396.svg#Posterama1927W01-Black") format("svg");
}

/*HEADER INICIO*/
.intro-2 {
  background: url(/Multimedia/wood-fired-oven-1960099_1280.jpg) no-repeat center center;
  background-size: cover;
}

.intro-1 {
  background: url(/Multimedia/pizzeria-interior.jpg) no-repeat center center;
  background-size: cover;
}

.container {
  padding-top: 200px;
}

.text-center {
  text-align: center;
}

.white-text {
  font-family: Posterama1927W01-Black;
  color: #fff;
  font-size: 40px;
}

.navbar {
  background-color: transparent;
  height: 100px;
}

.navbar a {
  font-family: Posterama1927W01-Black;
  color: #fff;
  font-size: 17px;
}

.top-nav-collapse {
  background-color: #1f2e5e;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1f2e5e;
  }
}

html,
body,
header,
.view {
  height: 100%;
}

/*HEADER FIN*/
.carousel-inner {
  margin-top: 100px;
  margin-bottom: 100px;
  height: 300px;
}

/* NOSOTROS */
.jumbotron {
  background-image: url("../Multimedia/Imagenes/pizza 1.jpg");
  background-size: cover;
  position: center;
  height: 600px;
  color: black;
  border-radius: 0px;
  margin-bottom: 0;
  font-size: 15px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.jumbotron p {
  height: 10px;
  font-family: Posterama1927W01-Black;
}

.jumbotron h1 {
  font-family: Posterama1927W01-Black;
}

/* UBICACION */
.textos__nosotros, .titulo2 {
  font-family: Posterama1927W01-Black;
  color: #1f2e5e;
  font-size: 25px;
  text-align: center;
  -webkit-font-feature-settings: "ss04" 0,"ss06" 1,"ss08" 1,"ss09" 1;
          font-feature-settings: "ss04" 0,"ss06" 1,"ss08" 1,"ss09" 1;
  font-weight: 500;
  line-height: 76px;
}

.titulo2 {
  font-family: Posterama1927W01-Black;
  color: #1f2e5e;
  font-size: 35px;
}

.containerFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1140px;
  width: 85vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mapa {
  right: 80px;
  bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 20px;
}

/* Media Querys*/
/*CONTACTO*/
.mb-4 {
  padding-left: 50px;
}

.mb-4 h2 {
  font-family: Posterama1927W01-Black;
  color: #1f2e5e;
  font-size: 30px;
}

.mb-4 p {
  font-family: Posterama1927W01-Black;
  color: #1f2e5e;
  font-size: 20px;
}

.btn {
  font-family: Posterama1927W01-Black;
  color: #1f2e5e;
  font-size: 10px;
}

.btn-primary {
  background-color: #1f2e5e !important;
}

/* Vista PC INDEX */
@media only screen and (min-width: 1280px) {
  /* INDEX */
  .gridContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[6];
        grid-template-columns: repeat(6, auto);
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
  }
  /* Header */
  /* FOTO */
  section {
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
  /* Footer */
  footer {
    font-family: Posterama1927W01-Black;
    color: white;
    font-size: 50px;
    width: 100%;
    height: 500px;
    background-color: #1f2e5e;
    text-align: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
  .containerFooter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    width: 85vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 16px;
    z-index: auto;
  }
  .footer__superior {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 60px;
    padding-bottom: 110px;
  }
  .footer__logo {
    height: 130px;
  }
  .footer__col {
    margin-right: 8.33333%;
    -webkit-box-flex: 25%;
        -ms-flex: 25% 0 0px;
            flex: 25% 0 0;
    font-family: Posterama1927W01-Black;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
  }
  .footer__titulo {
    text-transform: uppercase;
    font-family: Posterama1927W01-Black;
    font-size: 36px;
    font-weight: 500;
    line-height: 43px;
    padding-bottom: 10px;
  }
  footer ul {
    list-style: none;
  }
  footer ul li {
    font-family: Posterama1927W01-Black;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 43px;
    text-decoration: none;
  }
  footer ul li a {
    color: white;
    font-size: 34px;
  }
  .footer__bajo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 30px;
    line-height: 16px;
  }
  .whatsapp {
    height: 50px;
    width: 50px;
    font-size: 45px;
    line-height: 40px;
    background-color: #fff;
    color: #1f2e5e;
    border: 6px solid #fff;
    text-align: center;
    position: fixed;
    right: 80px;
    bottom: 40px;
    border-radius: 300%;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  .fa-brands fa-whatsapp {
    text-align: center;
  }
  /* MENU */
  .contenedorMenu {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
    display: flexbox;
  }
  .contenedorTitulosMenu h2 {
    font-family: Posterama1927W01-Black;
    color: #1f2e5e;
    font-size: 50px;
  }
  .contenedorTitulosMenu p {
    font-family: Posterama1927W01-Black;
    color: #1f2e5e;
    font-size: 20px;
  }
  /*UBICACION */
  /* NOSOTROS */
  .Foto-Texto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 50px;
    margin-top: 30px;
    margin-right: 30px;
  }
  .Foto-Texto h2 {
    text-align: center;
    font-family: Posterama1927W01-Black;
    color: #1f2e5e;
    font-size: 30px;
    padding-bottom: 15px;
  }
  .Foto-Texto p {
    text-align: center;
    font-family: Posterama1927W01-Black;
    color: #1f2e5e;
    font-size: 20px;
  }
  .Foto-Texto-Reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;
  }
  .Foto-Texto-Reverse h2 {
    text-align: center;
    font-family: Posterama1927W01-Black;
    color: #1f2e5e;
    font-size: 30px;
    padding-bottom: 15px;
  }
  .Foto-Texto-Reverse p {
    text-align: center;
    font-family: Posterama1927W01-Black;
    color: #1f2e5e;
    font-size: 20px;
  }
  .textoIzq {
    width: 50%;
    padding: 40px;
    margin: 100px 0 0 0;
    line-height: 1.6;
  }
  .textoDer {
    width: 50%;
    padding: 40px;
    margin: 100px 0 0 0;
    line-height: 1.6;
  }
  .ImagenDer {
    width: 50%;
    height: 500px;
    background-size: cover;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .ImagenIzq {
    width: 50%;
    height: 500px;
    background-size: cover;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  /* CONTACTO*/
}

@media only screen and (min-width: 801px) and (max-width: 1279px) {
  /*INDEX*/
  .gridContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[6];
        grid-template-columns: repeat(6, auto);
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
  }
  /* Header */
  /* Footer */
  footer {
    font-family: Posterama1927W01-Black;
    color: white;
    font-size: 50px;
    width: 100%;
    height: 500px;
    background-color: #1f2e5e;
    text-align: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 6;
    grid-column: 1 / 7;
  }
  .containerFooter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    width: 85vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 16px;
    z-index: auto;
  }
  .footer__superior {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 60px;
    padding-bottom: 110px;
  }
  .footer__logo {
    height: 130px;
  }
  .footer__col {
    margin-right: 8.33333%;
    -webkit-box-flex: 25%;
        -ms-flex: 25% 0 0px;
            flex: 25% 0 0;
    font-family: Posterama1927W01-Black;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
  }
  .footer__titulo {
    text-transform: uppercase;
    font-family: Posterama1927W01-Black;
    font-size: 36px;
    font-weight: 500;
    line-height: 43px;
    padding-bottom: 10px;
  }
  footer ul {
    list-style: none;
  }
  footer ul li {
    font-family: Posterama1927W01-Black;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 43px;
    text-decoration: none;
  }
  footer ul li a {
    color: white;
    font-size: 34px;
  }
  .footer__bajo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 30px;
    line-height: 16px;
  }
  /*Boton whatsapp*/
  .whatsapp {
    height: 45px;
    width: 45px;
    font-size: 35px;
    line-height: 40px;
    background-color: #fff;
    color: #1f2e5e;
    text-align: center;
    border: 7px solid #fff;
    position: fixed;
    right: 40px;
    bottom: 40px;
    border-radius: 125%;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  /* NOSOTROS */
  .Foto-Texto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  /* MENU */
  /*UBICACION */
  /* CONTACTO*/
}

/*Tablet y celulares grandes*/
@media only screen and (min-width: 650px) and (max-width: 800px) {
  footer {
    font-family: Posterama1927W01-Black;
    color: #fff;
    font-size: 50px;
    width: 100%;
    height: 100%;
    background-color: #1f2e5e;
    text-align: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .containerFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    width: 85vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 16px;
    z-index: auto;
  }
  .footer__superior {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 60px;
    padding-bottom: 110px;
  }
  .footer__logo {
    height: 130px;
  }
  .footer__col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 8.33333%;
    -webkit-box-flex: 25%;
        -ms-flex: 25% 0 0px;
            flex: 25% 0 0;
    font-family: Posterama1927W01-Black;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
  }
  .footer__titulo {
    text-transform: uppercase;
    font-family: Posterama1927W01-Black;
    font-size: 36px;
    font-weight: 500;
    line-height: 43px;
    padding-bottom: 10px;
  }
  footer ul {
    list-style: none;
  }
  footer ul li {
    font-family: Posterama1927W01-Black;
    color: #fff;
    font-size: 24px;
    font-weight: 500;
    line-height: 43px;
    text-decoration: none;
  }
  footer ul li a {
    color: white;
    font-size: 34px;
  }
  .footer__bajo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 30px;
    line-height: 16px;
  }
  /*Boton whatsapp*/
  .whatsapp {
    height: 45px;
    width: 45px;
    font-size: 35px;
    line-height: 40px;
    background-color: #fff;
    color: #1f2e5e;
    text-align: center;
    border: 7px solid #fff;
    position: fixed;
    right: 40px;
    bottom: 40px;
    border-radius: 125%;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
    -webkit-animation-delay: s;
            animation-delay: s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  /* NOSOTROS */
  /* MENU */
  /*UBICACION */
  /* CONTACTO*/
}

/* CELULARES CHICOS */
@media only screen and (max-width: 650px) {
  /* Footer */
  footer {
    font-family: Posterama1927W01-Black;
    color: #fff;
    font-size: 50px;
    width: 100%;
    height: 100%;
    background-color: #1f2e5e;
    text-align: center;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    -ms-grid-row: 4;
    grid-row: 4;
  }
  .containerFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    width: 85vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 16px;
    z-index: auto;
  }
  .footer__superior {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 60px;
    padding-bottom: 110px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo {
    height: 230px;
    margin-bottom: 20px;
  }
  .footer__col {
    margin-right: 8.33333%;
    -webkit-box-flex: 25%;
        -ms-flex: 25% 0 0px;
            flex: 25% 0 0;
    font-family: Posterama1927W01-Black;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
  }
  .footer__titulo {
    text-transform: uppercase;
    font-family: Posterama1927W01-Black;
    font-size: 30px;
    font-weight: 500;
    line-height: 43px;
    padding-bottom: 10px;
  }
  footer ul {
    list-style: none;
  }
  footer ul li {
    font-family: Posterama1927W01-Black;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    line-height: 43px;
    text-decoration: none;
  }
  footer ul li a {
    color: white;
    font-size: 20px;
  }
  .footer__bajo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 30px;
    line-height: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  /*Boton whatsapp*/
  .whatsapp {
    height: 45px;
    width: 45px;
    font-size: 30px;
    line-height: 30px;
    background-color: #fff;
    color: #1f2e5e;
    text-align: center;
    border: 7px solid #fff;
    position: fixed;
    right: 40px;
    bottom: 100px;
    border-radius: 90%;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-name: aparecer;
            animation-name: aparecer;
    -webkit-animation-delay: 0s;
            animation-delay: 0s;
    -webkit-animation-direction: alternate;
            animation-direction: alternate;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
  /* NOSOTROS */
  /* MENU */
  /*UBICACION */
  /* CONTACTO*/
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*# sourceMappingURL=estilos.css.map */